<!DOCTYPE html>
<html>
<head>
    <title></title>
    {{#if css}}
        <style>
                {{{ css }}}
        </style>
    {{else}}
        <link rel="stylesheet" href="main.css">
    {{/if}}
</head>
<body>
<canvas id='c' width="700" height="300"></canvas>
<h2>Controls</h2>
<p>WASD - Move</p>
<p>Shift - Hold to Strafe</p>
<p>J - Jump</p>
<p>I - Shoot</p>
{{#if js}}
    <script>
            {{{ js }}}
    </script>
{{else}}
    <script src='main.js'></script>
{{/if}}
</body>
</html>
